.books.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10px;
    width: 100%;
}
  
.books.gallery > a {
    height: max-content;
}

.books.gallery > a, .books.gallery > a > img {
    width: 10em;
}

.mobile .books.gallery > a, .mobile .books.gallery > a > img {
    width: 90vw;
}

.book.img > img {
    height: 100vh;
}