.font {
  font-family: 'Julius Sans One', sans-serif;
}

body {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

h1 h2 h3 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.content-container {
  margin-top: 50px;
  max-width: 40em;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header.line {
  width: 30%;
  border-bottom: 2px solid rgba(0,0,0,0.25);;
  margin-bottom: 20px;
}

a {
  text-decoration: underline;
  color: black;
}

.icon {
  text-decoration: none !important;
}

a:hover {
  color: rgba(0,0,0,0.25);;
  text-decoration: underline;
}

.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.books.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 0 1em;
  grid-auto-rows: 10px;
}

.books.gallery > a, .books.gallery > a > img {
  width: 10em;
}

.books.gallery > a > img:hover {
  filter: brightness(80%);
}

.book.img {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh; 
  width: 50vw;
  background-size: cover;
}

.book.overlay {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255,255,255,0.99), rgba(255,255,255,0.7), rgba(255,255,255,0.1));
}

.book.img > img {
  height: 100vh;
}

.book.content-container {
  z-index: 2;
}

.blogs.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.blogs.gallery > a {
  text-decoration: none;
  width: 80%
}

.blogs.gallery > a:hover {
  color: rgba(0,0,0,0.5)
}

.blog-divider {
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.5);
}

.blog-card {
  margin-top: 10px;
  width: 100%;
}

.blog-card > * {
  margin: 5px;
}

.blog.date {
  text-align: right;
}

.blog.img {
  width: 100vw;
}

.blog.img > img {
  width: 100%;
}