.font {
  font-family: 'Julius Sans One', sans-serif;
}

body {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.page {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60vw;
  max-width: 1000px;
  min-width: 800px;
  margin-top: 10vh;
}

.page.mobile {
  display: inline-block;
  width: 90vw;
  min-width: 0;
  margin-top: 50px;
}

.page.mobile * {
  max-width: 100vw;
}

.page.mobile .container {
  margin-top: 0;
  margin-left: auto;
}

.container {
  margin-top: -36px;
  margin-left: 150px;
  z-index: 2;
  position: relative;
  width: calc(100% - 150px);
  padding-bottom: 10vh;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: rgba(0,0,0,0.25);
  text-decoration: underline;
  cursor: pointer;
}

a > img:hover {
  filter: brightness(90%);
}

.center-contents {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gradient.img {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh; 
  width: 50vw;
  background-size: cover;
}

.gradient.overlay {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right, 
    rgba(255,255,255,0.99), 
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.5));
}

.page.mobile .gradient.img {
  width: 100vw;
  left: 0;
}

.no-underline {
  text-decoration: none;
}