.project {
    padding: 1em 0;
    border-style: solid;
    border-width: 1px;
    border-image: 
        linear-gradient(
        to right, 
        rgb(0,0,0), 
        rgb(200,200,200),
        rgb(255,255,255)
        ) 1 0 100%;
    margin-bottom: -1px;
}

.project * {
    margin: 0.5em 0;
}

.project:last-of-type {
    margin-bottom: 5em;
}