.sidebar {
  width: max-content;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10vh;
}

.sidebar > h3 {
  white-space: nowrap;
}

.links {
  text-align: center;
}

.links > a {
  text-decoration: none;
}

.page-links {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-links > a {
  text-decoration: none;
  margin: 10px 0;
}