.title-font {
  font-family: 'Julius Sans One', sans-serif;
}

.font {
  font-family: 'Crimson Text', serif;
}

a {
  color: black;
}

h1 h2 h3 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar {
  width: 50px;
  height: 100vh;
  background-color: rgba(0,0,0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

.name {
  text-align: center;
  color: rgba(0,0,0,0.5);
  margin: 10px 0;
}

.button {
  color: white;
  font-size: 30px;
  height: 50px;
  text-align: center;
}

.button.clicked {
  background-color: rgba(0,0,0,0.25);
}

.button:hover {
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
  color: white;
}

.button > i {
  margin-top: 15px;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.content {
  padding-top: 100px;
  max-width: 1000px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; 
  width: 0;
}

.content.show {
  opacity: 1;
  visibility: visible; 
  width: inherit;
  height: inherit;
}